
.container{
  transition: transform .5s;
}
.listCart{
  margin-top: -870px;
  display: none;
}
.showCart .listCart{
  display: block;
}
/* .foodItem{
  box-shadow: 2px solid white;
  background-color: black;
} */
